<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="icon" href="Images/TTGL.png">
    <title>Book Added</title>
</head>
<body>
     <header>
        <ul>
            <li> <a href="/">Home</a></li>
            <li> <a href="/search_book">Search Books</a></li>
        </ul>
    </header>
    <section id="route">
    <h1>Book Added!</h1>
    <p>Congrats!, a new book has been added to your list!</p>
    <img id="All-Might" src="Images/All-Might-thumb-up.gif">
</section>
</body>
</html>