<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="icon" href="Images/TTGL.png">
    <title>Error</title>
</head>
<body>
    <header>
        <ul>
            <li> <a href="/">Home</a></li>
            <li> <a href="/search_book">Search Books</a></li>
        </ul>
    </header>
    <section id="route">
    <h1>Erorr 404</h1>
    <p>Sorry, The page you requested does not exist :(</p>
    <img id="Umaru" src="Images/umaru-cry.gif">
</section>
    
    
</body>
</html>